.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImage {
  margin: 20px;
  padding: 5px;
  height: 400px;
  width: 300px;
  opacity: 1;
  display: block;

  transition: 0.5s ease;
  backface-visibility: hidden;
}
.homeImage3 {
  margin: 0px 40px 0px 0px;
  padding: 5px;
  height: 400px;
  width: 300px;
  opacity: 1;
  display: block;

  transition: 0.5s ease;
  backface-visibility: hidden;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: 32px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.616);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: 0.5s ease;
  opacity: 0.3;
}
.right-arrow:hover {
  color: #000;
  opacity: 1;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: 32px;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.616);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.3;
}
.left-arrow:hover {
  color: #000;
  opacity: 1;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media all and (max-width: 50em) {
  .shopNow-Container {
    display: flex;
  }
  .shopNow {
    display: block;
    margin: 0.5em 22.5em;
  }
  .homeImage3 {
    display: none;
  }
}

@media all and (max-width: 60em) {
  .shopNow {
    background-color: black;
    display: block;
    margin: 10em 10em;
    height: 50px;
  }
}

@media all and (max-width: 30em) {
  .shopNow {
    display: block;
    margin: 0.4em 10em;
  }
  .homeImage3 {
    display: none;
  }
}
